@font-face {
    font-family: 'Kingdred';
    src: url(Fonts/kingred.otf) format('truetype');
    font-weight: normal;
    font-style: normal;    
}

:root{
  --main: #895d39;
  --accent: #5d3619;    
  --muted: #7f6f6a;
  --text: #222;
  --radius: 100px;
  --container: 2000px;
  --gap: 0;
}

body {
  padding: 0;
  margin: 0;
}

main {
  align-content: center;
  justify-content: center;
}

.navbar {
    background-color: var(--main);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-logo img {
    height: 100px;
    position: static;
    display: block;
}

html, body {
  height: 100%;
  margin: 0px;
}

.nav-list {
  list-style: none;
  display:flex;
  justify-content: right;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

.nav-list li{
  margin: 0;
  padding: 0;
}

.nav-list li a {
  font-size: 16px;
  font-family: 'Kingdred';
  background-color: white;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 8px solid white;
  border-radius: 9px;
  transition: background-color 0.4 ease, color 0.3;
  display: inline-block;
}

.nav-list li a:hover {
  color: #754c30;
  background-color: white;
  animation: normal;
  font: bold;
}

.video_select {
  margin: 0;
  padding: 0;
  max-width: fit-content;
  position: relative;
  display: inline-block;
  height: auto;
  width: fit-content;
  overflow: none;
}

.menu_bar li a{
  font-size: 3vw;
  font: bold;
  font-family: 'Kingdred';
  text-decoration: none;
  background-color: #f6f8eb;
  color: rgb(0, 0, 0);
  border: 15px solid #f6f8eb;
  border-radius: 10px;
  transition: background-color 0.4 ease, color 0.3;
}

.menu_bar {
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -22vw;
  padding-bottom: 18vw;
  box-sizing: border-box;
  z-index: 1;
}

video {
  width: 100%;
  display: block;
  pointer-events: none;
  user-select: none;
  object-fit: cover;
  z-index: -4;
  image-resolution: 60%;
}

.card{
  background:var(--card);
  border: var(--radius);
  padding:1.15rem;
  box-shadow: 0 6px 20px rgba(22,20,18,0.06);
  margin-bottom:1rem;
}

.pep_b {
  width: 90%;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  display:flex;
  background-color: var(--accent);
  border: 5px solid color(none);
  border-radius: 50px;
  padding: 40px;
}
 
.features {
  margin-top: 20px;
  padding-left: 40px;
  padding-bottom: 0px;
  margin-bottom: 50px;
  font-size: 4vw;
  font-family: 'kingdred';
}

.feature_pep_sec {
  justify-content:space-between;
  align-items: right;
}

.pep_img {
  max-width: calc(1em * (calc(600 / 13)));
  height: auto;
  border: 4px solid color(white) !important;
  border-radius: 30px;
}

.pep_text_position h3{
  margin-left: 40px;
  font-size: 2.1vw;
  font-family: 'kingdred';
}

.pep_text_position p {
  margin-left: 80px;
  font-size: 1.2vw;
  font-family: 'kingdred';
}

footer {
  display: flex;
  align-items: left;
  width: 100%;
  background: #754c30;
  color: white;
  text-align: center;
}

.apple_sec {
  width: 90%;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
  display:flex;
  background-color: var(--accent);
  border: 5px solid color(none);
  border-radius: 40px;
  padding: 40px;
}

.apple_image {
  max-width: calc(1em * (calc(600 / 13)));
  border: 50px solid color(white);
  border-radius: 30px;
  padding-left: 0px;
}

.feature_apple h3{
  font-size: 2.1vw;
  font-family: 'kingdred';
  margin-left: 40px;
}

.feature_apple p {
  font-size: 1.2vw;
  font-family: 'kingdred';
  margin-left: 80px;
}