@font-face {
    font-family: 'Kingdred';
    src: url(Fonts/kingred.otf) format('truetype');
    font-weight: normal;
    font-style: normal;    
}

.navbar {
    background-color: #895d39;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-logo img{
    height: 100px;
    position: static;
    display: block;
    
}

html, body{
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}


.nav-list {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

.nav-list li{
  margin: 0;
  padding: 0;
}

.nav-list li a {
  font-size: 16px;
  font-family: 'Kingdred';
  background-color: white;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 8px solid white;
  border-radius: 9px;
  transition: background-color 0.4 ease, color 0.3;
  display: inline-block;

}

.nav-list li a:hover {
  color: #754c30;
  background-color: white;
  animation: normal;
  font: bold;
}

.menu_bar li a{
  font-size: 50px;
  font: bold;
  font-family: 'Kingdred';
  text-decoration: none;
  background-color: #f6f8eb;
  color: rgb(0, 0, 0);
  border: 8px solid #f6f8eb;
  border-radius: 7px;
  transition: background-color 0.4 ease, color 0.3;
  display: inline-block;
}

.menu_bar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

}

video {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -4;
}

.features {
  color: whitesmoke;
  font-family: 'Kingdred';
  font-size: 2.3em;
}

.peppermint_sec, .apple_sec {
  margin-bottom: 0px;
  text-align: center;
  
}

h2 {
  color: white;
  font-family: 'Kingdred';
  font-size: 1.1em;
}

.peppermint_sec img, .apple_sec img {
  width: 100%;
  height: auto;
  margin-bottom: 20px; 
}

h3 {
  color: white;
  font-family: 'Kingdred';
  font-size: 1.3em;
}
.pep_container, .apple_container {
  position: relative;
  width: 100%;
}

.pep_container img, .apple_container img {
  width: 100%;
  height: auto;
  display: block;
}

.pepermint_text h2 {
  font-family: 'Kingdred';
  color: white;
  position: absolute;
  top: 5px;
  left: 30px;
}
.pepermint_text p {
  position: absolute;
  top: 30px;  
  left: 30px;  
  color: white;
  font-family: 'Kingdred';
}

.apple_text h3 {
  font-family: 'Kingdred';
  color: white;
  position: absolute;
  top: 5px;
  left: 500px;
}
.apple_text p {
  position: absolute;
  top: 30px;  
  left: 30px;  
  color: white;
  font-family: 'Kingdred';
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  color: white;
  text-align: center;
}